.login-image
.container.text-center{:style => "margin-top:30vh;"}
  %div.login-container
    %h1{style: "font-family:Againts;"} Sign Up
    %br
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f|
      = devise_error_messages!
      .form-group.col-sm-12{style: "margin-left:auto;margin-right:auto;"}
        .input-group
          .input-group-addon
            %span.glyphicon.glyphicon-user
          = f.email_field :email, placeholder: "E-Mail", autofocus: true, class: 'form-control col-xs-9'
      .form-group.col-sm-12{style: "margin-left:auto;margin-right:auto;"}
        .input-group
          .input-group-addon
            %span.glyphicon.glyphicon-lock
          = f.password_field :password, placeholder: "Password", autocomplete: "off", class: 'form-control col-xs-9'
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
      .form-group.col-sm-12{style: "margin-left:auto;margin-right:auto;"}
        .input-group
          .input-group-addon
            %span.glyphicon.glyphicon-lock
          = f.password_field :password_confirmation, placeholder: "Confirm password", autocomplete: "off", class: 'form-control col-xs-9'
      .actions
        = f.submit "Sign up", class: "btn btn-med btn-primary"
    %br
    .form-group
      .col-sm-12
        = link_to "Back to login", new_session_path(resource_name)

:css
  body {
    background-color: #000;
  }

