= form_for @print_marking do |f|
  - if @print_marking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@print_marking.errors.count, "error")} prohibited this print_marking from being saved:"
      %ul
        - @print_marking.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
