%p#notice= notice

%p
  %b Purchase:
  = @sale.purchase_id
%p
  %b Print:
  = @sale.print_id
%p
  %b Price:
  = @sale.price
%p
  %b Shipping cost:
  = @sale.shipping_cost
%p
  %b Transaction date:
  = @sale.transaction_date
%p
  %b Description:
  = @sale.description

= link_to 'Edit', edit_sale_path(@sale)
\|
= link_to 'Back', sales_path
